
body{
	display:grid;
	background-image: url("img/Shoes.jpg");
	background-size: cover;
}
nav {
	color: black;
}
p {
	color: white;
}

.Malta{
	height:250px;
	width:80%;
	margin:auto;
}
.navbar {
  background-color: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 91%;
}

.gallery-container{
	display: flex;
	height:200px;
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}

.gallery-item {
	flex:25%;
	vertical-align: middle;
	opacity:0.6;
	padding: 3px;
	transition: 0.3s;
}
.gallery-item:hover {
	opacity: 1;
	size:80%;
}
.video-container{
	display: grid;
	grid-template-columns: auto auto;
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}

.video-item{
	flex:left;
	size: 50%;
}

.video-text{
	flex:right;
	size:50%;
}