.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.carousel-item:hover {
  background-color: #f8f9fa;
}
.testimonial {
  text-align: center;
}
.testimonial p {
  font-style: italic;
}
.container {
  margin-top: 300px;
}
