body{
	display:grid;
	background-image; 
}

.Malta{
	height:250px;
	width:80%;
	margin:auto;
}
.navbar{
	background-image: url("img/Malta.jpg");
	background-color: black;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 91%;
}