 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color:#e0dede;
  color:black;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #1154EF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #04AA6D;
}
#thankyou h1{
	color:white;
}
#thankyou img{
	display:grid;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}
/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #1d1e21;
	margin-top:20px;
	padding: 20px;
	color:white;
}
.setList{
	margin-top:20px;
	display:none;
	margin-left: 50px;
}
body{
	display:grid;
	background-image: url("img/Shoes.jpg");
}
.navbar-custom {
	background-color: #1d1e21;
	font-size: 20px;
}
/* Modify brand and text color */
/*below is styling for the nav menu styling*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, .navbar-custom .nav-item-active .nav-link{
	color: #1154EF;
	font-weight: bold;
}
.navbar-custom .nav-item .nav-link{
	color: white;
}
[aria-current]:not([aria-current="false"]) {
	font-weight: bold;
	color: blue;
}


--

*{
    padding:0; margin:0;
    box-sizing: border-box;
    color:#d9d9d9;
    font-family: 'Open Sans', sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #053742;
}

.container{
    display: flex;
    padding: 3rem;
}

.container .section{
    flex-basis: 50%;
    padding: 0 20px;
}

.section h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section .content{
    margin:20px 0 0 0;
    position: relative;
}

.section .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.section .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: #dd5f24;
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #656565;
}


.left .content .social a span:hover{
    background: #dd5f24;
}

.center .content .fas{
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #656565;
}

.center .content .fas:hover{
    background: #dd5f24;
    border:1px solid #dd5f24;
}

.center .content .text{
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border:none;
    outline: none;
    background: #dd5f24;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}


.right form .btn button:hover{
    background: #000;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.footer-bottom center span{
    color: #656565;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px){
    footer{
        position: relative;
        bottom: 0px;
    }

    .left .content{
        padding-right:0px;
        padding-bottom: 30px;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        padding:0.5rem;
    }

    .container .section{
        margin:5px 0;
    }
}